/* 移动端适配 */
@media only screen and (max-width: 500px) {

    /* 导航栏适配 */


    #showSearch {
        margin-right: 20px;
    }

    /* #nav li:not(:last-child){
        display: none;
    } */

    #search {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #RtxSwitchDiv {
        display: none;
    }

    .logo {
        width: 60px;
        height: 80px;
        background-image: url("./top/img/small_logo.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #searchSuggest {
        min-width: 208px;
    }

    .recommendStarWidget {
        display: none;
    }

    /* 歌词 */
    #lrc .lion{
        /* height: 40px; */
    }
    
    #lrc .lioff{
        /* height: 30px; */
    }
    
    #lrc li .on{
        /* font-size: 20px; */
    }
    
    #lrc li .off{
        /* font-size: 16px; */
    }

    #whiteblk{
        /* height: 40px;
        line-height: 40px; */
    }

    #whitelrc{
        /* font-size: 20px; */
        /* height: 40px; */
    }

    /* 推荐 */
    #recommend {

    }
    
    #recommend:hover{
        width: 250px;
    }
    
    #recommendList {
        width: 250px;
    }

    /* 历史记录播放列表 */
    .historyAndplay:hover{
        width: 70vw;
    }

    #HLTitle,#PLTitle{
        position: relative;
        font-size: 20px;
        display: inline-block;
        width: 100%;
        text-align: center;
        border-radius: 10px;
    }

    /* 进度条 */
    #playerdiv2{
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #range {
        width: 70vw;
        flex: 1 1 auto;
    }

    #playerdiv3 {
        display: none;
    }

    #playerdiv6 {
        width: 90vw;
        height: 60px;
        position: absolute;
        text-align: left;
        /* z-index: 10000; */
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #play {
        margin: 0 10px;
    }

    #songvolume {
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    #volumerange {
        position: absolute;
        top: 50%;
        left: 30px;
        width: 50px;
        transform: translateY(-50%);
        display: block;
    }

    #playlist {
        margin: 0;
        position: absolute;
        display: block;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    /* 弹幕 */
    #thecomments div {
        width: 200px;
        height: 60px;
    }

    #thecomments div img {
        width: 60px;
        height: 60px;
    }

    #thecomments div p {
        width: 120px;
        height: 60px;
        line-height: 60px;
    }

    /* 背景 */
    #background_earth {
        animation: background_earth_move2 30s linear infinite;
    }

    #hyList, #PList {
        width: 100%;
    }

    .hylistli,.Plistli{
        text-align: left;
        margin-left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #ClearHLTitle,#ClearPLTitle {
        display: inline-block;
    }

    .historyviedoplay {
        margin: 0;
    }

    .historyAndplay:hover .HLCancle{
        display: inline-block;
    }

    /* 单曲搜索 */
    #searchResult {
        min-width: auto;
        width: 90%;
    }

    #tips {
        transform: translate(-8px);
    }

    #songListBlock{
        /* width: 90%; */
        margin: 0 auto;
    }
    /* 专辑详情 */
    #curAlbum {
        min-width: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #curAlbumDetail, #curAlbumSongs {
        display: block;
        width: 90%;
        margin: 0 auto;
        transform: translateX(8px);
    }

    #curAlbumCreater {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #curAlbumComment {
        width: 100%;
        margin: 0 auto;
    }

    #curAlbumCommentUl {
        width: 100%;
        margin: 0 auto;
    }

    #curAlbumCreater div:nth-child(6){
        max-height: 200px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    #Album {
        transform: translate(-8px);
    }

    /* 歌单详情 */
    #curSongList {
        min-width: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #curSongListDetail, #curSongListSongs {
        display: block;
        width: 90%;
        margin: 0 auto;
        transform: translateX(8px);
    }

    #curSongListCreater {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #curSongListComment {
        width: 100%;
        margin: 0 auto;
    }

    #curSongListCommentUl {
        width: 100%;
        margin: 0 auto;
    }

    #curSongListCreater div:nth-child(6){
        max-height: 120px;
        margin-bottom: 20px;
    }

    #songList {
        transform: translate(-8px);
    }

    /* 歌手详情 */
    #curSinger {
        min-width: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #curSingerDetail, #curSingerSongs {
        display: block;
        width: 90%;
        margin: 0 auto;
        transform: translateX(8px);
    }

    #curSingerCreater {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    #curSingerComment {
        width: 100%;
        margin: 0 auto;
    }

    #curSingerCreater div:nth-child(5){
        max-height: 120px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    #curSingerAlbum {
        width: 100%;
        margin: 0 auto 20px auto;
    }

    #curSingerAlbumUl {
        width: 100%;
    }

    #Singer {
        transform: translate(-8px);
    }

    .SingerAlbumItem {
        height: 30px;
        font-size: 16px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .curSingerAlbumCont {
        margin-right: 0;
    }

    /* 滚动条样式 */
    ::-webkit-scrollbar {
        width: 2px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: rgba(222, 222, 222, 0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
        /* 内阴影 */
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 0px;
        background-color: #b3b3b3;
        -webkit-box-shadow: inset 0 0 6px rgba(118, 118, 118, 0.5);
    }

}

@keyframes background_earth_move2
{
	from {
        transform: translateY(55%) scale(1.5) rotate(0deg);  
    }

	to {
        transform: translateY(55%) scale(1.5) rotate(360deg);
    }
}