.user_suspensions {
    z-index: 1998;
    display: none;
    position: absolute;
    width: 350px;
    border-radius: 5px;
    height: 500px;
    background: white;
    box-shadow: 0px 0px 5px #333333;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -175px;
    transition: all 1s;
    -moz-transition: all 1s;
    /* Firefox 4 */
    -webkit-transition: all 1s;
    /* Safari 和 Chrome */
    -o-transition: all 1s;
    /* Opera */
    overflow-x: hidden;
    overflow-y: auto;
}

.user-top {
    font-size: 24px;
    margin-top: 30px;
    box-sizing: border-box;
    color: #333333;
    margin-bottom: 30px;
}

.user-list-manger {
    display: block;
    /* height: 400px;
    overflow-x: hidden;
    overflow-y: auto; */
}

.userList {
    display: block;
    height: 30px;
    margin: 20px;
}

.userListItem {
    display: inline-block;
    position: absolute;
    left: 30px;
}

.userListButton {
    display: inline-block;
    position: absolute;
    right: 30px;
}